
@{
    ViewBag.Title = "My Index";
}

<h2>Local Dev</h2>

@*<ul>
@for (int i = 0; i < ViewBag.NumTimes; i++)
{
    <li>@ViewBag.Message</li>
}

</ul>*@


<p class="well">This page will hold quick log-in/routing links, test scripts/html, etc.</p>
